{% extends "base.html" %}
{% load static %}

{% block title %}UseWISE | Библиотека за вещи{% endblock %}

{% block extra_css %}
  <style>
    .cherno {
      background: orange;
    }

    body.cherno {

    }

    /* PRIMARY BUTTON */
    .btn.primary {
      background: #2b6cb0;
      color: white;
    }

    .btn.primary:hover {
      background: #2c5282;
    }

    /* SECONDARY BUTTON */
    .btn.secondary {
      background: white;
    }
  </style>
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}

<section class="hero">
  <div class="hero-container">

    <h1 class="hero-title">UseWISE</h1>

    <p class="hero-subtitle">Библиотека за вещи</p>

    <p class="hero-description">
      Защо всеки да купува бормашина, палатка или уред за почистване на прозорци,
      когато ги използва само 1–2 пъти в годината?
    </p>

    <div class="hero-buttons">
      <a href="{% url 'accounts:signup' %}" class="btn primary">
        Регистрация
      </a>

      <a href="{% url 'item_list' %}" class="btn secondary">
        Разгледай вещи
      </a>

      <a href="{% url 'accounts:login' %}" class="btn ghost">
        Вход
      </a>
    </div>

  </div>
</section>
{% endblock %}
